.modal {
    /*border: 3px solid black;*/
    background-color: black;
    height: 100%;
    width: 100%;
    /*position: relative;*/
    margin: 0;
    /*!*z-index: 100;*!*/
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Demo {
    display: block;
    margin-bottom: 100px;
}

.txt p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.demoText {
    color: rgba(65, 186, 174, 1) !important;
    font-size: 200% !important;
    margin: 50px;
    text-align: center;
}

.modal .btn-toolbar>.btn  {
    height: 20px;
    width: 80px;
    margin-top: 30px;
    margin-left: 0px;
}

.video {
    margin: 0 auto;
}

.button {
    margin-top: 300px;
}

.end {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-left: 0px;
}