.youtube, .end  {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.end {
    margin-top: 90px;
}


.youtube {
    margin: 100px;
}