.Contact {
  text-align: center;
  width: 100vw;
}

/*header style is repeated from categories component and can be deleted*/
.contact-body {
  width: 100vw;
  background-color: #48b7ab;
  display: flex;
}
.Header h2 {
  color: #a0a09f;
  font-family: futura-lt-w01-light, sans-serif;
  font-size: 300%;
  font-weight: normal;
  margin-bottom: 70px !important;

  position: relative;
  text-align: center;
}

.Header h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.Header h2:before {
  background: #ddd;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.Header h2:before {
  left: 0;
}

.voodContact {

  align-self: center;

  /*text-align: justify; -all of the below are temporary changes until buttons work*/
  /*padding-left: 60px !important;*/
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.voodContact p {
  width: 250px;
  margin-right: 0px !important;
}
.contact-submit {
  background: #585252 !important;
  color: #9a9393 !important;
  border-radius: 0px !important;
  border: none !important;
  width: 95% !important;
  margin: 0px auto !important;
}
.customerContact {
  padding-top: 15px !important;
  width: 33%;
}
.customerContact input {
  width: 100% !important;
  padding: 9px 20px !important;
  margin: 5px 0 !important;
  display: inline-block !important;
  border: 1px solid #5f5f5f !important;
  border-radius: 0px !important;
  letter-spacing: 1px !important;
  max-width: 250px !important;
}
.messageBox textarea {
  letter-spacing: 1px !important;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.gray {
  border-radius: 5px;
  background-color: #f2f2f2;
  /*padding: 20px !important;*/
  width: 100%;
  padding-top: 50px;
  margin: 0px;
}
.messageBox {
  width: 33%;
}
.messageBox input,
.messageBox textarea {
  max-width: 400px;
  width: 100%;
  height: 172px;
  padding: 14px;
  resize: none;
  border-radius: 6px;
}

.Contact Button {
  background-color: #808080 !important;
  border: solid #696969 3px;
  color: white !important;
  margin-left: 305px;
  margin-bottom: 4px;
}

.Contact Button:hover {
  background-color: #dcdcdc !important;
}

.messageBox {
  padding: 9px;
}
.customerContact,
.messageBox {
  display: none !important;
}
@media screen and (max-width: 800px) {
  .customerContact,
  .messageBox {
    display: none !important;
  }
  .contact-body {
    flex-direction: column;
    align-items: center;
  }
  .voodContact {
    text-align: center;
    padding-left: 0px !important;
  }
  .customerContact,
  .messageBox {
    width: 98% !important;
    margin: 0px auto !important;
    max-width: 300px !important;
  }
}
