.App {
  text-align: center;
  width: 100vw;
}

.Intro {
  height: 700px;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  padding-bottom: 0px;
  margin-top: 10px;
}

.App Button {
  background-color: transparent !important;
  border: solid rgba(65, 186, 174, 1) 3px;
  cursor: pointer !important;
  color: rgba(65, 186, 174, 1) !important;
  width: 200px;
  height: 37px;
  border-radius: 7px;

  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.App Button:hover {background-color: #00FFFF !important;}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 90px 20px 30px 20px;
  color: white;
  font-size: 260%;
  font-family: futura-lt-w01-light,sans-serif;
}

.App-header h2 {
  font-weight: normal;
  margin: 15px 0px 15px 0px;
  color: white;
  font-size: 65px;
}

.App-header p {
  color: #00FFFF;
  font-size: 30px;
}

.App-intro {
  color: white;
  font-size: 170%;
  font-family: futura-lt-w01-light,sans-serif;
  padding-bottom: 55px;
  padding-top: 10px;
  margin-top: 150px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
position: absolute;
width: 100%;
  height: 100%;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg-video {
position: relative;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
}
